<div>
  @if (!isLoading()) {
    @for (step of Object.entries(configDefinition()); track step[0]) {
      @let stepName = step[0];
      @let stepDefinition = step[1];
      @if (configForm().controls[stepName]; as stepForm) {
        <h3>{{ stepDefinition.displayName | localised: stepName }}</h3>
        <div class="fluid-form">
          @for (configDefinition of stepDefinition?.userConfig; track $index) {
            @let configName = configDefinition.name;
            @if (stepForm.controls[configName]; as configForm) {
              <app-configuration-value
                [configForm]="configForm"
                [configDefinition]="configDefinition"
              ></app-configuration-value>
            }
          } @empty {
            {{ 'newPipeline.noConfig' | transloco }}
          }
        </div>
      }
    }
  } @else {
    Loading
  }
</div>
