<div class="sc-new-pipeline">
  <section>
    <h3>{{ 'pipeline.label.type' | transloco }}</h3>
    <div>
      <p-floatlabel variant="on">
        <p-select
          id="new-pipeline-type"
          class="full-width"
          [options]="typeOptions()"
          [ngModel]="pipelineForm.pipelineType()"
          (ngModelChange)="pipelineForm.pipelineType().value.set($event)"
          dataKey="name"
        >
        </p-select>
        <label for="new-pipeline-type">{{ 'pipeline.label.type' | transloco }}</label>
      </p-floatlabel>
    </div>
  </section>
  <app-step-configuration
    [configForm]="pipelineConfigForm()"
    [configDefinition]="stepConfigDefinition()"
    [isLoading]="pipelineConfiguration.isLoading()"
  ></app-step-configuration>
  <footer>
    <p-button
      [label]="'label.create' | transloco"
      icon="pi pi-plus"
      [disabled]="pipelineForm().invalid() || configFormValid() || pipelineConfiguration.isLoading()"
      (onClick)="onPipelineCreate()"
    ></p-button>
  </footer>
</div>
