.menu {
  ::ng-deep {
    .p-menubar {
      border: none;
      border-bottom: 1px solid var(--p-menubar-border-color);
      border-radius: 0;
    }
  }

  &__user {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 20rem;

    &__info {
      display: flex;
      flex-direction: column;
      word-wrap: break-word;

      :first-child {
        font-weight: bold;
      }
    }

    &__roles {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
    }

    &__actions {
      display: flex;
      gap: 1rem;
    }
  }
}
