<div class="pipeline-steps">
  @if (pipelineStepsStore.selectedStep(); as step) {
    <h1>{{ step.displayName | localised: step.name }}</h1>
    <h3>{{ 'label.messages' | transloco }}</h3>
    <div>
      <p-table [value]="step.events">
        <ng-template #header>
          <tr>
            <th>{{ 'label.type' | transloco }}</th>
            <th>{{ 'label.message' | transloco }}</th>
            <th>{{ 'label.timestamp' | transloco }}</th>
          </tr>
        </ng-template>
        <ng-template #body let-event>
          <tr>
            <td>
              {{ event.type }}
            </td>
            <td>
              {{ event.message }}
            </td>
            <td>
              {{ event.timestamp | date: ('format.dateTime' | transloco) }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <h3>{{ 'label.results' | transloco }}</h3>
    <app-pipeline-step-results [step]="step"></app-pipeline-step-results>
  }
</div>
