.sc-pipeline {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;

  > h1 {
    grid-column: 1/-1;
  }

  &__timeline {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__step {
      display: flex;
      flex-direction: column;
      border: 2px gray solid;
      border-radius: 1rem;

      padding: 1rem;
      background-color: lightgray;
      color: black;

      &--running {
        background-color: yellow;
      }

      &--finished {
        background-color: green;
        color: white;
      }

      &--error {
        background-color: darkred;
        color: white;
      }
    }
  }
}
