<div #value class="fluid-form-element">
  @let label = configDefinition().displayName | localised: configDefinition().name;
  <div class="configuration-value__label">
    <label [for]="value.childNodes[1]">{{ label }}</label>
    @if (configDefinition().displayName; as description) {
      <span class="pi pi-info-circle" [pTooltip]="description | localised"></span>
    }
  </div>
  @switch (configDefinition().type) {
    @case (UserConfigTypeDto.INTEGER) {
      <p-input-number inputId="integeronly" [formControl]="configForm()" />
    }
    @case (UserConfigTypeDto.FLOAT) {
      <p-input-number [formControl]="configForm()" />
    }
    @case (UserConfigTypeDto.LIST) {
      <p-auto-complete
        [formControl]="configForm()"
        inputId="chips-combined"
        multiple
        fluid
        [typeahead]="false"
        [addOnBlur]="true"
        [addOnTab]="true"
        separator=","
        placeholder="Use Tab, Blur, or Comma to add items..."
      />
    }
    @case (UserConfigTypeDto.ENUM) {
      <input type="text" pInputText [formControl]="configForm()" />
      <p-select [options]="configDefinition().enumValues" [formControl]="configForm()" dataKey="name">
        <ng-template #item let-item>
          <span>
            {{ item.displayName | localised }}
            @if (item.description) {
              <span class="pi pi-info-circle" [pTooltip]="item.description | localised"></span>
            }
          </span>
        </ng-template>
        <ng-template #selectedItem let-item>
          {{ item.displayName | localised }}
        </ng-template>
      </p-select>
    }
    @case (UserConfigTypeDto.MAPPING) {
      <app-input-mapping [formControl]="configForm()" [enumValues]="configDefinition().enumValues"></app-input-mapping>
    }
    @case (UserConfigTypeDto.DATE) {
      <input type="text" pInputText [formControl]="configForm()" />
    }
    @default {
      <textarea rows="1" pTextarea [autoResize]="true" [formControl]="configForm()"></textarea>
    }
  }
</div>
