<div class="default-page">
  <div class="actions-header">
    <div class="action-buttons">
      <h1>
        {{ 'configurationVersion.title' | transloco: { versionId: configurationVersionStore.version()?.version } }}
      </h1>
      <app-configuration-state-tag
        [currentState]="versionForm.state().value()"
        [previousState]="configurationVersionStore.version()?.state"
      ></app-configuration-state-tag>
    </div>
    <div class="action-buttons">
      @if (canAdvanceState()) {
        <p-button
          [label]="'configuration.advanceState.' + configurationVersionStore.version()?.state | transloco"
          [outlined]="true"
          (onClick)="onStateAdvance()"
        ></p-button>
      }
      @if (!versionForm().value().edit) {
        <p-button
          icon="pi pi-pen-to-square"
          [label]="'action.edit' | transloco"
          (onClick)="versionForm.edit().value.set(true)"
        ></p-button>
      }
      @if (versionForm().value().edit) {
        <p-button
          icon="pi pi-times"
          [label]="'action.cancel' | transloco"
          [outlined]="true"
          (onClick)="onCancel()"
        ></p-button>
        <p-button
          icon="pi pi-save"
          [disabled]="!valid()"
          [label]="'action.save' | transloco"
          (onClick)="onSave()"
        ></p-button>
      }
    </div>
  </div>
  <section class="fluid-form">
    <div class="fluid-form-element">
      <label [for]="version">{{ 'label.version' | transloco }}</label>
      <p-input-number
        #version
        [disabled]="versionForm.version().disabled()"
        [(ngModel)]="versionForm.version().value"
      ></p-input-number>
    </div>
    <div class="fluid-form-element">
      <label [for]="name">{{ 'label.name' | transloco }}</label>
      <input #name pInputText [formField]="versionForm.name" />
    </div>
    <div class="fluid-form-element fluid-form-full-width">
      <label [for]="description">{{ 'label.description' | transloco }}</label>
      <textarea
        #description
        rows="1"
        pTextarea
        [autoResize]="true"
        [readonly]="!versionForm.edit().value()"
        [(ngModel)]="versionForm.description().value"
      ></textarea>
    </div>
  </section>
  <section>
    @switch (configurationStore.configuration()?.type) {
      @case ('technologies') {
        <app-configuration-technologies
          [formField]="versionForm.configuration"
          [(valid)]="valid"
        ></app-configuration-technologies>
      }
      @default {
        @if (versionForm().value().edit) {
          <json-editor [formField]="versionForm.configuration"></json-editor>
        } @else {
          <ngx-json-viewer [json]="versionForm().value().configuration"></ngx-json-viewer>
        }
      }
    }
  </section>
</div>
