.pipeline-timeline {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-height: 75dvh;
  overflow: auto;
  padding: 0.5rem;

  &__step {
    display: grid;
    align-items: center;
    justify-items: end;
    gap: 0.5rem 1rem;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr 1fr;

    border: 2px gray solid;
    border-radius: 1rem;
    cursor: pointer;

    padding: 0.5rem 1rem;
    background-color: lightgray;
    color: black;

    position: relative;

    &:not(:first-child):before {
      content: '';
      position: absolute;
      top: -10px;
      left: calc(50% - 10px);
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #999;
    }

    &:not(:last-child):after {
      content: '';
      height: 2rem;
      border: 1px solid #ccc;
      position: absolute;
      left: 50%;
      bottom: -2rem;
      z-index: -1;
    }

    > .pi {
      grid-row: 1/-1;
    }

    &__name {
      font-size: 1.2rem;
    }

    &--running {
      background-color: blue;
      color: white;
    }

    &--finished {
      background-color: green;
      color: white;
    }

    &--error {
      background-color: darkred;
      color: white;
    }

    &--selected {
      outline: dashed 3px white;
      outline-offset: 3px;
    }

    &:hover {
      outline: solid 3px white;
      outline-offset: 3px;
    }
  }
}
