@use "primeicons/primeicons.css";

body {
  font-family: "TTNormsPro",sans-serif;
  margin: 0;
}

a {
  color: var(--p-text-color);
  text-decoration: none;
}

.full-width {
  width: 100%;

  .p-select {
    width: 100%;
  }
}

.action-buttons {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.fluid-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem 1rem;

  .fluid-form-element {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .fluid-form-full-width {
    grid-column: 1/-1;
  }
}

.table-header-with-actions {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  p-sorticon {
    margin-left: 0.5rem;
  }
}
